html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Noto Sans TC', sans-serif;
}

.logo {
  width: 80px;
}

.navbar-white {
  background: white!important;
}

header{
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.container .row {
  /* border: 1px solid red; */
}

.product-desc {
  padding: 30px;
}
.product-img img{
  width: 100%;
}

#coffee_category  {
  margin-top: 40px;
}
.container h1{
  text-align: center;
  margin: 40px 0;
}

.divider {
  height: 1px;
  border-bottom: 1px solid rgb(216, 216, 216);
  margin: 40px 0;
}
.products {
  background: #f3f3f3;
  padding: 20px 0;
  margin: 20px 0;
}

.subscription input {
  margin: 10px 0;
}
.subscription {
  padding: 20px 0;
}

footer {
  background: #000;
  color: white;
  padding: 40px;
  margin-top: 40px;
}
.custom-btn {
  background: #542827;
  border: #542827;
  color: white;
  border-radius: 15px;
}

.custom-btn:hover {
  background: #3a1b1a;
  border: #542827;
  color: white;
}

.form-group-center {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}